<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CleanCodeTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32D99FDE23F56261002BF6A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32D99FF723F56263002BF6A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32D9A00223F56263002BF6A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
